/vendor/
/node_modules/
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/logs/*
/storage/framework/*
/bootstrap/cache/*
/.env
/.env.*
/.env.backup
/.phpunit.result.cache
/.phpunit.cache
Homestead.yaml
Homestead.json
/.idea/
/.vscode/
/.DS_Store
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
/docker-compose.override.yml
